.IncreaseBtn{
  background-color: green;
  height: 40px;
  width: 40px;
  color: #fff;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 65px;
  shape-outside: circle(75%);
  clip-path: circle();
  border: 1px solid green;
}